<p><strong>Договор&nbsp; о предоставлении платных медицинских услуг</strong></p>
<p>г. Ижевск&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&laquo;&nbsp;{{day}}&nbsp;&raquo; {{ ru_month }} {{year}}&nbsp;г.</p>
<p>&nbsp;</p>
<p>Общество с ограниченной ответственностью &laquo;Паритет&raquo;, в лице директора Крутикова Владимира Алексеевича, действующей на основании устава (ОГРН 1121841005770), именуемое в дальнейшем &laquo;<strong>Исполнитель</strong>&raquo; с одной стороны и {{patient.lastname}} {{patient.firstname}} {{patient.middlename}}, именуемый(ая) в дальнейшем &laquo;<strong>Потребитель</strong>&raquo;, с другой стороны, совместно именуемые &laquo;<strong>Стороны</strong>&raquo;, заключили настоящий договор о нижеследующем:</p>
<p>&nbsp;</p>
<ol>
<li><strong>Предмет договора</strong></li>
</ol>
<p>1.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Предметом настоящего Договора является предоставление платных медицинских услуг Потребителю. Исполнитель обязуется оказать Потребителю, а Потребитель обязуется оплатить &nbsp;&nbsp;платные медицинские услуги, согласно Перечню (Приложение №1), являющемуся неотъемлемой часть договора.&nbsp;&nbsp;</p>
<p>1.2.&nbsp; Стоимость платных медицинских услуг рассчитывается согласно Прейскуранту Исполнителя, действующему на момент обращения за услугами (Потребитель вправе в любое время ознакомиться с Прейскурантом, размещенном на ресепшен, а также на информационном сайте ООО &laquo;Паритет&raquo; в сети Интернет).</p>
<p>1.3. Исполнитель оказывает услуги по месту своего нахождения по адресу:</p>
<p>г.&nbsp; Ижевск, улица Совхозная, д.1а.</p>
<p>1.4. Медицинские услуги должны&nbsp; соответствовать&nbsp; требованиям действующего законодательства РФ.</p>
<p>1.5. Исполнитель имеет лицензию № ЛО-18-01-002828 от 26.12.2019г. на осуществление медицинской деятельности, выданную Министерством здравоохранения Удмуртской Республики. В перечень услуг входят: оказание первичной, в том числе доврачебной, врачебной и специализированной&nbsp; медико-санитарной помощи в амбулаторных условиях.</p>
<p>1.6. Заключая настоящий договор, Потребитель проинформирован о том, что Потребитель, являясь гражданином РФ, имеет право на бесплатную медицинскую помощь согласно ч.1 ст. 41 Конституции РФ и может реализовать это право через программу государственных гарантий и территориальную программу государственных гарантий оказания гражданам РФ бесплатной медицинской помощи;</p>
<p>1.7. Медицинские услуги предоставляются при наличии информированного добровольного согласия Потребителя&nbsp; данного в порядке, установленном законодательством РФ &nbsp;(Приложение № 2).</p>
<p>1.8. Потребитель представляет Исполнителю согласие на обработку&nbsp;&nbsp; персональных данных в порядке, установленном законодательством РФ. (Приложение № 3).</p>
<p>1.9. Потребитель уведомлен о том, что несоблюдение им рекомендаций&nbsp; медицинского работника, в том числе назначенного режима лечения, могут снизить качество оказываемой услуги, а также повлечь невозможность ее завершения в срок или отрицательно сказаться на состоянии здоровья Потребителя.</p>
<ol start="2">
<li><strong>Стоимость платных медицинских услуг, сроки и порядок их оплаты, порядок расторжения договора</strong></li>
</ol>
<p>2.1.Перечень и стоимость необходимых Потребителю медицинских услуг указаны в пункте 1.1 Договора. В случае необходимости оказания дополнительных услуг, изменения перечня услуг Потребитель заключает с Исполнителем Дополнительное соглашение,&nbsp;&nbsp; являющееся&nbsp; неотъемлемой частью настоящего Договора.&nbsp;&nbsp;</p>
<p>2.2. Оплата Заказчиком&nbsp; медицинских&nbsp; услуг производится&nbsp; в виде 100% предоплаты наличным расчетом в кассу&nbsp; или безналичным платежом на счет Исполнителя, не облагаемых &nbsp;НДС на основании п. 2 ст. 149 НК РФ. Заказчику&nbsp; в соответствии с законодательством РФ выдается документ (кассовый чек), подтверждающий произведенную оплату&nbsp; медицинских услуг.</p>
<p>2.3. Договор может быть досрочно расторгнут по соглашению Сторон. Потребитель может расторгнуть договор&nbsp; в порядке, предусмотренным законодательством РФ.</p>
<p>2.4. В случае отказа Потребителя от получения медицинских услуг Договор расторгается. Потребитель оплачивает Исполнителю фактически понесенные Исполнителем расходы, связанные с исполнением обязательств по Договору. 2.5. При необходимости возврата&nbsp; оплаченной по договору суммы, возврату подлежит оплаченная сумма&nbsp; за вычетом фактически понесенных Исполнителем&nbsp; расходов. Возврат&nbsp;&nbsp; осуществляется тем же способом, каким была произведена оплата. Денежные средства, внесенные в кассу, выдаются из кассы по расходному кассовому ордеру, а средства, поступившие на лицевой счет Исполнителя, возвращаются на счет Исполнителя.</p>
<p>2.6. Возврат денежных средств осуществляется на основании письменного заявления Потребителя в течение 15 банковских дней с момента поступления заявления.</p>
<ol start="3">
<li><strong>Права и обязанности сторон</strong></li>
</ol>
<p>3.1. <strong><em>Исполнитель вправе:</em></strong></p>
<p>3.1.1. Получать от Потребителя всю&nbsp; информацию, необходимую для выполнения своих обязательств по настоящему Договору.</p>
<p>3.1.2. Самостоятельно определять объем и характер лабораторных, диагностических, инструментальных и других видов исследования, методов консервативного лечения.</p>
<p>3.1.3. Заменить лечащего врача при наступлении объективной невозможности проводить лечение данным специалистом. Замена производится с письменного согласия Потребителя.</p>
<p>&nbsp;</p>
<p>3.2.<em>&nbsp;&nbsp; <strong>Исполнитель обязан</strong>:</em></p>
<p>3.2.1. Оказывать Потребителю услуги, предусмотренные п.1.1. настоящего Договора.</p>
<p>3.2.2. Не передавать и не показывать третьим лицам, находящуюся у Исполнителя документацию о Потребителе, соблюдать врачебную тайну.</p>
<p>3.2.3. Давать при необходимости по требованию&nbsp; Потребителя или законного представителя разъяснения о состоянии здоровья Потребителя.</p>
<p>3.2.4. Соблюдать, установленные законодательством РФ требования к оформлению и ведению медицинской документации и учетных и отчетных статистических форм, порядку и срокам их представления.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>3.5.</strong> <strong><em>Потребитель вправе:</em></strong></p>
<p>3.5.1. Получать от Исполнителя информацию о состоянии здоровья,&nbsp; объеме предоставляемых услуг.</p>
<p>3.5.2. Отказаться от получения медицинской услуги при условии оплаты Исполнителю фактически понесенных последним расходов.</p>
<p>3.5.3. Знакомиться&nbsp; с уставом, лицензиями Исполнителя.</p>
<p><strong>3.6</strong>.<em> <strong>Потребитель обязан</strong>:</em></p>
<p>3.6.1. Оплачивать услуги Исполнителя в порядке, сроки и на условиях, которые установлены&nbsp; Договором.</p>
<p>3.6.2. Информировать врача о перенесенных и имеющихся заболеваниях,&nbsp; аллергических реакциях, противопоказаниях.</p>
<p>3.6.3. Представлять Исполнителю все документы и информацию относительно общего состояния&nbsp; здоровья, как на момент начала, так и в процессе предоставления медицинских услуг.</p>
<p>3.6.4. Соблюдать правила поведения пациентов в медицинском учреждении, режим работы учреждения.</p>
<p>3.6.5. Выполнять предписания врача, все рекомендации медицинского персонала и третьих лиц, оказывающих ему по настоящему Договору медицинские услуги по лечению.</p>
<ol start="4">
<li><strong> Условия и сроки предоставления платных медицинских услуг</strong></li>
</ol>
<p>4.1. При определении условий предоставления медицинских услуг и исполнения своих обязательств по договору Стороны обязаны руководствоваться сведениями, указанными в медицинских документах Потребителя.</p>
<p>4.2. Исполнитель на основании предоставленных Потребителем сведений и данных диагностических обследований:</p>
<ul>
<li>определяет предварительный перечень медицинских услуг;</li>
<li>вносит их в &laquo;маршрутный лист&raquo; истории болезни с указанием метода, характера, объема и категории сложности предоставляемых медицинских услуг.</li>
</ul>
<p>4.3. &nbsp;Условия получения Потребителем медицинских услуг амбулаторно.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>4.4. Сроки получения&nbsp; Потребителем медицинских услуг&nbsp; указываются в Приложении № 1.</p>
<p>4.5. В случае, если&nbsp; при предоставлении платных медицинских услуг, потребуется предоставление дополнительных медицинских услуг по экстренным показаниям для устранения угрозы жизни Пациента при внезапных острых заболеваниях, состояниях, обострениях хронических заболеваний, такие медицинские услуги оказываются без взимания платы в соответствии Постановления Правительства РФ &laquo;Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг &raquo; от 04.10.2012 № 1006.</p>
<ol start="5">
<li><strong>Ответственность Сторон</strong></li>
</ol>
<p>5.1. За невыполнение, или ненадлежащее выполнение своих обязательств по настоящему договору Стороны несут ответственность в соответствии с действующим законодательством РФ.</p>
<p>5.2. Исполнитель&nbsp; не несет ответственность за недостатки в предоставлении медицинских услуг,&nbsp; а также, за нарушения сроков выполнения&nbsp; обязательств по настоящему Договору, если указанные недостатки&nbsp; возникли вследствие нарушения положений настоящего Договора и иных неправомерных действий&nbsp; Потребителя.</p>
<p>5.3. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему договору, если это явилось следствием обстоятельств&nbsp; чрезвычайного характера.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<ol start="6">
<li><strong> Срок действия договора, порядок разрешения споров</strong></li>
</ol>
<p>6.1. Настоящий&nbsp;&nbsp; договор&nbsp;&nbsp; вступает&nbsp;&nbsp; в&nbsp;&nbsp; силу с&nbsp;&nbsp; момента&nbsp;&nbsp; его&nbsp;&nbsp; подписания&nbsp; и действует до полного&nbsp;&nbsp; выполнения сторонами принятых на себя обязательств.</p>
<p>6.2. Все&nbsp; разногласия, которые могут возникнуть между Сторонами, будут разрешаться&nbsp; в претензионном порядке. Срок рассмотрения Исполнителем претензии&nbsp; (с приложением обосновывающих документов) Потребителя устанавливается согласно действующему законодательству.&nbsp; Если согласие не достигнуто, споры&nbsp; разрешаются в судебном&nbsp; порядке.</p>
<p><strong>&nbsp;</strong></p>
<ol start="7">
<li><strong> Заключительные положения, юридические адреса Сторон</strong></li>
</ol>
<p>7.1. По вопросам, не урегулированным в&nbsp; договоре, применяются положения&nbsp; законодательства РФ.</p>
<p>7.2. Все изменения и дополнения к Договору действительны, если совершены в письменной форме и подписаны &nbsp;Сторонами. Приложения, дополнительные соглашения Сторон являются неотъемлемой частью Договора.</p>
<p>7.3. Настоящий договор, все приложения, изменения и дополнения к нему составлены в двух экземплярах, по одному для&nbsp; каждой стороны.</p>
<p>7.4. Подписание Потребителем настоящего Договора свидетельствует об его ознакомлении со всем изложенным&nbsp;&nbsp; в настоящем Договоре и Приложениях к нему и полном согласии. Потребитель подтверждает, что он добровольно согласился на оказание медицинских услуг на платной основе. Потребитель,&nbsp; ознакомился с действующим Прейскурантом цен&nbsp; на медицинские услуги. Потребителем получен экземпляр настоящего договора с приложениями.</p>
<ol start="8">
<li><strong> Реквизиты сторон</strong></li>
</ol>
<table>
<tbody>
<tr>
<td width="319">
<p><strong>Потребитель:</strong></p>
<p>{{patient.lastname}} {{patient.firstname}} {{patient.middlename}}</p>
<p>Проживающий(ая) по адресу:</p>
<p>{{patient.address}}</p>
<p>паспорт: серия {{patient.passp_series}} номер {{patient.passp_number}}</p>
<p>выдан: {{patient.passp_issued}}</p>
<p>___________________________________</p>
<p>(подпись)</p>
</td>
<td width="313">
<p><strong>Исполнитель:</strong></p>
<p>ООО &laquo;Паритет&raquo;, г. Ижевск,</p>
<p>ул. Совхозная, д.1а.</p>
<p>ИНН: 1841027933</p>
<p>ОГРН: 1121841005770 &nbsp;</p>
<p>телефон: (3412) 97-08-07</p>
<p>Директор: Крутиков В.А.</p>
<p>&nbsp;_____________________________</p>
<p>(подпись)</p>
<p>М.П</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><u>&nbsp;</u></strong></p>
